li{
    border-radius: 10px;
    padding: 0 7px;
    margin: 1px 3px 4px;
    line-height: 22px;
    background-color: #cccccc;
    margin: 0;
    padding-left: 3;
    list-style: none;
    padding-right: 0;
    list-style: none;
}